# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll

# Executables
*.exe
*.out

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Flex/Bison (C++)
lex.yy.cc
lex.yy.c
lex.yy.hh
lex.yy.h
y.tab.cc
y.tab.hh
y.tab.c
y.tab.h

# IDEs - VSCode
build/
.vscode/
*.code-workspace

test.*
*.log
